
.grid {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 100px 100px;
}

#suggest-box {
    opacity: 50%;
    z-index: 1;
    grid-column: 1 / 2;
    grid-row: 2;
}

#search-box {
    grid-column: 1 / 2 ;
    grid-row: 1;
}

#map {
    height: 500px;
    width: 500px;
}