<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var cities;
        var lon = "{{ weather['coord']['lon'] }}" 
        var lat = "{{ weather['coord']['lat'] }}" 
        $.getJSON("{{ url_for('static', filename='city.list.json') }}", function(data) {
            cities = data;
        })

    </script>
    <script defer src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <script defer src="{{ url_for('static', filename='scripts/map.js') }}" type="text/javascript"></script>
</head>

<body>
    <input type="hidden" id="city_id" value="">
    {% if ip %}
    <div>
        <span>Your IP: </span>
        <h3>{{ ip }}</h3>
    </div>
    {% endif %}
    <div class="grid">
        <input id="search-box" type="text" value="" placeholder="Type Your City">
        <input id="suggest-box" type="text" value="" readonly>
    </div>
        <button id="get-weather">Get Weather!</button><br/>
        <p id = "status"></p>
        <a id = "map-link" target="_blank"></a>

    <div class="info-box">
       <div class="weather-container">
            <div class="weather-info">
                <div class="wlocation">
                    <div style="height: 20px;">
                        <span id="wplace">{{ weather.name}}, {{ weather.sys.country }}</span>
                        <img id="wflag" src="http://openweathermap.org/images/flags/{{ weather.sys.country.lower() }}.png" alt="weather icon">
                    </div>

                    <div id="time">{{  time }}</div>

                </div>
                <div>
                    <img id="wicon" src="http://openweathermap.org/img/wn/{{ weather.weather[0].icon }}@4x.png" alt="weather icon">
                </div>

                <div id="wtemp">{{ weather.main.temp - 273.15 }}°С </div>
                <div id="wmain">{{ weather.weather[0].main }}</div>  
                <div id="wwind-speed">Wind-Speed: {{ weather.wind.speed }}</div>
                <div id="whumid">Humidity: {{ weather.main.humidity }}</div>

            </div>
       </div> 

        <div id="map" class="map"></div>

    </div>

    </div>

</body>
</html>
