<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var cities;
        
        $.getJSON("{{ url_for('static', filename='city.list.json') }}", function(data) {
            cities = data;
        })

    </script>
    <script defer src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }}">
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYgqO5Oif6GBe1Ys5jjWpjDzQnqnlhGjc&callback=initMap&libraries=&v=weekly"></script>
    <script>
        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8,
            });
        }


    </script>
</head>

<body>
    <div class="grid">
        <input id="search-box" type="text" value="search-box">
        <input id="suggest-box" type="text" value="suggest box">
    </div>
        <button id="find-me">shot my loca</button><br/>
        <p id = "status"></p>
        <a id = "map-link" target="_blank"></a>

    {% if ip %}
    <div>
        <span>Your IP: </span>
        <h3>{{ ip }}</h3>
    </div>
    {% endif %}

    {% if weather %}
    <div>
        <p>{{ weather }}</p>
    </div>
    <div class="google-map">
    
    </div>
    {% endif %}

    <div id="map"></div>
</body>
</html>
