<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var cities;
        
        $.getJSON("{{ url_for('static', filename='city.list.json') }}", function(data) {
            cities = data;
        })

    </script>
    <script defer src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
    <div class="grid">
        <input id="search-box" type="text" value="search-box">
        <input id="suggest-box" type="text" value="suggest box">
    </div>
        <button id="find-me">shot my loca</button><br/>
        <p id = "status"></p>
        <a id = "map-link" target="_blank"></a>

    
</body>
</html>
